<ion-tabs class="tabs-icon-top">
    <ion-tab title="烤词" icon="dc-tab-kc" href="#/dc_tab/kc_home">
        <ion-nav-view name="dc-tab-kc"></ion-nav-view>
    </ion-tab>

   <ion-tab title="烤词根" icon="dc-tab-kcg" href="#/dc_tab/kcg_home">
        <ion-nav-view name="dc-tab-kcg"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="鱼乐圈" icon="dc-tab-ylq" href="#/dc_tab/ylq_home">
        <ion-nav-view name="dc-tab-ylq"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon="dc-tab-me" href="#/dc_tab/me_home">
        <ion-nav-view name="dc-tab-me"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>