
<ion-content class="background-black">

    <p>&nbsp;</p>

    <div class="padding text-center">
        <div class="banner">
            <div class="tag"><img src="img/tag.png" width="80" /></div>
            <div class="headline">我的任务</div>
            <div class="body">
                <p>考完<b class="yellow">40</b>个单词,新增5个单词</p>
                <p>还需要坚持<b>20</b>天</p>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="row text-center padding">
        <div class="col">
            <button class="button button-full button-energized" ng-click="getTrueExam()">
                挑战真题
            </button>
        </div>

        <div class="col">
            <button class="button button-full button-energized">
                                            继续学习
            </button>
        </div>
    </div>

        <!--<button class="button button-full button-energized" ng-click="show();">
            全局提示事件
        </button>-->
</ion-content>