
<ion-content class="background-black" onclick="">
    <div class="row padding-top ">
        <div class="col"><a href="#/home" class="dc-title">返回</a></div>
        <div class="col col-40">
            <div class="text-center dc-title">1/8</div>
        </div>
        <div class="col text-right" style="position:relative;">
            <a style="position:absolute; right:60px; top:3px;"><img src="img/star.png" width="32" /></a>
            <a href="#" class="dc-title" style="border:2px solid #FFF; padding:2px; display:inline-block; border-radius:4px;">烤</a>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="text-center padding word"><span><img src="img/play.png" ng-click="play();" />undoubtedly</span></div>
    <div class="text-center padding gray"> [ʌn'daʊtɪdli]</div>
    <div class="text-center gray padding-bottom"> <span class="tag">必修词</span> 考核频率 ★★★</div>

    <div class="text-center padding-vertical">
        <div class="cut">
            <div>
                <p>un</p>
                <p>从,不</p>
            </div>
        </div>
        <div class="cut">
            <div>
                <p>doube</p>
                <p>入,向内</p>
            </div>
        </div>
        <div class="cut">
            <div>
                <p>ed</p>
                <p>入,向内</p>
            </div>
        </div>
        <div class="cut">
            <div>
                <p>ly</p>
                <p>入,向内</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="guid-headline">词义推导</div>
        <div class="guid-body">
            文本1111<br />
            文本2222
        </div>
    </div>

    

    <div class="row row-headline">
        <div class="col">请选择正确的释义</div>
        
    </div>

    <div class="padding">
        <div class="dc-item dc-item-2 dc-item-round dc-item-correct" ng-click="chooseAnswer();">
            A 选项A，测试题正确样式
        </div>
        <div class="dc-item dc-item-2 dc-item-round dc-item-error" ng-click="chooseAnswer();">
            B 选项B，测试题错误样式
        </div>
        <div class="dc-item dc-item-2 dc-item-round" ng-click="chooseAnswer();">
            C 选项C，普通样式
        </div>
    </div>

    <div class="row">
        <div class="col"><button class="button button-full button-energized">拼写</button></div>
        <div class="col-40"><button class="button button-full button-energized">查看详解</button></div>
        <div class="col"><button class="button button-full button-energized">炼句</button></div>
    </div>

</ion-content>