<div class="bar bar-header bar-dark">
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col col-40"></div>
        <div class="col text-right col-center">
            <img src="img/dc/close.png" height="36" ng-click="back()"/>
        </div>
    </div>
</div>

<ion-content class="has-header background-black" >
   
    <div class="padding">
        <div class="bg-word">    
            <!--<div class="fill_box">
                <img src="img/dc/play.png" ng-click="play();" />
                <span>{{result}}</span>
                <img src="img/dc/correct.png" ng-if="result==word" />
            </div>-->
            <div class="row">
            	<div class="col-10 col-center">
            		<img src="img/dc/play.png" height="40"  ng-click="play();" />
            	</div>
            	<div class="col-90 text-center col-center">
            		<span style="font-size: 20px;border-bottom: 2px #7B5F15 solid;margin-left: 3px;display: inline-block;vertical-align: middle;" ng-repeat="answer in answers  track by $index" id="{{word}}_{{$index}}" ng-click="kongClick($index)">&#12288;</span> <img src="img/dc/correct.png" style="margin-left: 20px;" ng-if="right && completed" />
            	</div>
            </div>
        </div>
    </div>
    <div class="padding text-center ">
        <button class="word_select_bt" style="" ng-click="chooseAnswer(letter,$index)" ng-repeat="letter in letters">{{letter}}</button>
    </div>
    
   	<div class="dy-word-spell-reminder">
		<img src="img/xiaoxue_cut_64.png" ng-click="showWord()"/><span ng-show="word_show">{{word}}</span>
	</div>
   
    <div class="padding text-center">
    	<button class="button button-outline button-energized" ng-click="clear()">
                              清空
        </button>
    </div>
   
</ion-content>