<ion-content style="background-color:#000000">

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
        <ion-slide>
            <div style="text-align:center;" ><img src="img/kcg_intro1.png" style="width:80%;margin-top:30%;" /></div>
        </ion-slide>
        <ion-slide>
            <div style="text-align:center;"  ><img src="img/kcg_intro2.png" style="width:80%;margin-top:30%;" /></div>
        </ion-slide>
        <ion-slide>
            <div style="text-align:center;" ><img src="img/kcg_intro3.png" style="width:80%;margin-top:30%;" /></div>
        </ion-slide>
    </ion-slide-box>

</ion-content>