<div class="bar bar-header bar-bluebg" style="padding: 0px;">
	<div class="row" style="height:44px;">
		<div class="col col-30 col-center">
			<a href="#/dc_tab/kcg_home"><img src="img/dc/back.png" height="36" /></a>
		</div>
		<div class="col col-40" style="height:44px;text-align:center; padding: 0px;">
			<div class="dropdown">
				<div class="dropbtn" ng-click="showselect()">
					<label style="font-size:16px">{{titleLable.name}}</label><img class="dropbtn_img" src="img/dc/xl_sjx.png" />
				</div>
				<div class="dropdown-content" id="lable_down">
					<a href="javascript:void(0)" ng-repeat="item in titleLables" ng-click="lableSelect($index)">{{item.name}}</a>
				</div>
			</div>
		</div>
		<div class="col col-30 col-center text-right" style="font-size: 14px;">
			{{affixs.length}}/{{total}}
		</div>
	</div>
</div>

<ion-content class="has-header background-black">

	<div class="record_row" style="color:white;border-bottom:1px #EEEEEE solid;" ng-repeat="affix in affixs track by $index" ng-click="">
		<div class="row row-center">
			<div class="col col-40 yellow" style="font-size:18px;">{{affix.en}}</div>
			<div class="col col-60 yellow" style="font-size:16px;" ng-if="affix.show" ng-click="recordSelect($index)"><span>{{affix.zh}}</span></div>
			<img class="col col-60" ng-if="!affix.show" ng-click="recordSelect($index)" class="zhezhao" src="img/dc/zhegai.png"/>
		</div>
		
		<div ng-if="affix.show" class="padding" ng-repeat="word in affix.words">
			<span style="background-color:#000000;">{{word.en}}</span>&nbsp;&nbsp;<span>{{word.example}}</span>
		</div>
		
	</div>

	<div class="padding text-center" ng-show="hasmore"> <button class="button button-full button-light" ng-click="loadmore()">点击加载更多</button></div>

	<!--<ion-infinite-scroll ng-if="hasmore"  on-infinite="loadmore()" distance="1%"> </ion-infinite-scroll>
-->
</ion-content>