<div class="bar bar-header bar-calm bar-green">
    <h1 class="title">烤鱿鱼</h1>
</div>

<ion-content class="has-header background-gray">
    <div class="padding"></div>

    <div class="text-center padding">
        <img src="img/denglu_3x_03.png" width="88" />
    </div>

    <!--<div class="row">
        <div class="col">
            <labe class="item item-input">
                <input type="tel" placeholder="请输入您的手机号" ng-model="userinfo.mobile" />
            </labe>
        </div>
    </div>


    <div class="row">
        <div class="col col-56">
            <labe class="item item-input">
                <input type="tel" placeholder="请输入验证码" ng-model="userinfo.code" />
            </labe>
        </div>
        <div class="col">
            <div class="item  item-input">
                <a class="button-blue" ng-click="getCode();">{{userinfo.buttonText}}</a>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="padding">
        <button class="button button-balanced button-block" ng-click="login();">登录</button>
    </div>-->

    <div class="padding ichatLogin">
        <button class="button button-balanced button-block button-outline" ng-click="wechatLogin();">微信一键登录</button>
    </div>

</ion-content>