<div class="bar bar-header bar-calm bar-green">
    <a class="button button-clear icon-left ion-ios-arrow-left" href="#/tab/me_home"> 我的</a>
    <h1 class="title">关于我们</h1>
</div>

<ion-content class="has-header index-bg">
    <div class="dc-content padding">
        <div class="text-center padding">
            <img src="img/logo.png" width="88" />
        </div>

        <p style="text-indent:2em;">“烤鱿鱼自适应学习引擎”，由北京优宇通教育科技有限公司倾注十年专注研发而成，是为“个性化学习”而生的智能学习引擎。“烤鱿鱼”为个性化语言水平诊断、学习资源推送、个性化教学建议以及教学效果的评估分析，提供业界最前沿的智能化支持！</p>

        <p style="text-indent:2em;">“烤鱿鱼四六级智能提分神器”，是基于自适应学习引擎应运而生的智能备考产品，为大学生冲刺四六级精心打造。提分神器从学生过级的痛点出发，衔接互联网时代个性化、移动化、游戏化的学习趋势，为学生提供水平智能诊断、痛点统计分析、智能提分计划和个性化学习资源以及学习伙伴的推送。</p>

        <p style="text-indent:2em;">让我们花最少的时间实现最理想的提分效果！</p>

        <div class="text-center">
            <h4>微信公众号：kaoUyu</h4>

            <h5>Copyright &copy; 2015</h5>

            <h5>北京优宇通教育科技有限公司</h5>
        </div>

    </div>
   
</ion-content>
