<div class="bar bar-header bar-calm bar-green">
    <a class="button button-clear icon-left ion-ios-arrow-left" href="#/tab/me_home"> 我的</a>
    <h1 class="title">考试状态</h1>
</div>


<ion-content class="has-header background-gray">

    <div class="row background-white">
        <div class="col">参保人：{{$root.userinfo.nickName}}</div>
        <div class="col">考试级别：{{$root.userinfo.level==1?'四':'六'}}级</div>
    </div>
    <div class="row background-white">
        <div class="col">未过级返回金：{{$root.KB.type}}元</div>
        <div class="col">考保截止日期：2016-6-17</div>
    </div>

    <div class="padding"></div>

    <div class="list background-white">
        <div class="item">
            <img src="img/tingli_lv_3x_03.png" width="22" /> 听力智能练习
            <button class="button button-balanced button-small button-block button-round button-kb" ng-click="report('listening');" ng-if="!$root.KB.tl">去完成</button>
            <p class="item-note" ng-if="$root.KB.tl">已完成</p>
        </div>
        <div class="item">
            <img src="img/yuedu_lv_3x_03.png" width="22" /> 阅读智能练习
            <button class="button button-balanced button-small button-block button-round button-kb" ng-click="report('reading');" ng-if="!$root.KB.yd">去完成</button>
            <p class="item-note" ng-if="$root.KB.yd">已完成</p>
        </div>
        <div class="item">
            <img src="img/fanyi_lv_3x_03.png" width="22" /> 翻译智能练习
            <button class="button button-balanced button-small button-block button-round button-kb" ng-click="report('translation');" ng-if="!$root.KB.fy">去完成</button>
            <p class="item-note" ng-if="$root.KB.fy">已完成</p>
        </div>
        <div class="item">
            <img src="img/xiezuo_lv_3x_03.png" width="22" /> 写作智能练习
            <button class="button button-balanced button-small button-block button-round button-kb" ng-click="report('writing');" ng-if="!$root.KB.xz">去完成</button>
            <p class="item-note" ng-if="$root.KB.xz">已完成</p>
        </div>
    </div>

</ion-content>

