<div class="bar bar-header bar-calm bar-green">
    <a class="button button-clear icon-left ion-ios-arrow-left" href="#/tab/me_home"> 我的</a>
    <h1 class="title">考保介绍</h1>
</div>


<div style="height:100%; padding-top:64px; -webkit-overflow-scrolling: touch; overflow-y: scroll;">
    <iframe id="iframe" src="http://mp.weixin.qq.com/s?__biz=MzI1MDAzOTIzMQ==&mid=401958203&idx=1&sn=f717dc1d0570a0161b96665706d3d236&scene=0&previewkey=FvQUXZpCVLUep5BaILBfrcwqSljwj2bfCUaCyDofEow%3D" frameborder="0" style="height: 100%;width: 100%;overflow: auto"></iframe>

    <div class="text-center">
        <p>&nbsp;</p>
        <h4 class="green">长按保存二维码到本地</h4>
        
        <img src="img/kaouyu_wx.jpg" width="90%" on-hold="saveImg();" />

        <div style="width:0px; height:0px; overflow:hidden">
            <canvas id="myCanvas"></canvas>
        </div>
    </div>
</div>
