<div class="bar bar-header bar-calm bar-green">
    <button class="button button-clear icon-left ion-ios-arrow-left" ng-click="back();">返回</button>
    <h1 class="title">激活app使用权</h1>
</div>


<ion-content class="has-header">
    <div class="padding text-center grown" ng-if="$root.userinfo.level==1">抱歉您的试用已结束，请扫描烤鱿鱼英语四级验证码(二维码)激活app！验证码是区分四六级的哦！</div>
    <div class="padding text-center grown" ng-if="$root.userinfo.level==2">抱歉您的试用已结束，请扫描烤鱿鱼英语六级验证码(二维码)激活app！验证码是区分四六级的哦！</div>
   
	<div style="background: white;margin-top: 10px;padding: 10px;border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro">
		<div class="text-left padding">{{bizProduct.product_name}}</div>
		<div class="text-left padding" style="color:burlywood;">{{bizProduct.usage}}</div>
		<div class="row">
			<div class="col-30 col-center" style="color: gray;text-decoration:line-through;">原价：¥{{bizProduct.discount}}</div>
			<div class="col-30 col-center text-center" style="color: red;font-size:20px ;">¥{{bizProduct.price}}</div>
			<div class="col-40 text-center" class="text-center" style="padding: 5px;">
				<button  class="app_vcode_button" ng-click="addOrder()">
		                             购买验证码
	            </button>
	            <!--<button ng-show="userinfo.active" class="app_vcode_button" style="background:gainsboro;"  ng-click="">
		                             您已激活                  
	            </button>-->
			</div>					
		</div>
		<div class="text-center padding">支付方式：仅支持微信支付</div> 

	</div>
   
   
   <div class="padding text-center">
        <button class="button button-balanced button-block button-round " ng-click='scanCode();'>扫描二维码</button>
    </div>
    <div class="text-center background-gray">
        &nbsp;
    </div>

    <div class="text-center">
        <h4 class="padding-top">验证码(二维码)获取方式</h4>
        <p class="gray" ng-if="$root.userinfo.level==1">(如前期购买图书未包含验证码请进入QQ群：182642609联系郝老师领取；或进入淘宝店铺“烤鱿鱼图书”直接联系旺旺客服领取)</p>
        <p class="gray" ng-if="$root.userinfo.level==2">(如前期购买图书未包含验证码请进入QQ群：424878329联系郝老师领取；或进入淘宝店铺“烤鱿鱼图书”直接联系旺旺客服领取)</p>
        <p class="padding" ng-if="$root.userinfo.level==1">方式一： 去 (淘宝烤鱿鱼图书专营店) 购买《智胜大学英语四级真题解析》或《四级过关宝典》任意一本书，通过扫描图书中验证码(二维码)获取app所有学习内容。若已购买图书请直接扫描二维码！</p>
        <p class="padding" ng-if="$root.userinfo.level==2">方式一： 去 (淘宝烤鱿鱼图书专营店) 购买《智胜大学英语六级真题解析》或《六级过关宝典》任意一本书，通过扫描图书中验证码(二维码)获取app所有学习内容。若已购买图书请直接扫描二维码！</p>
        <div class="padding text-center" style="width:60%; margin:0 auto;">
            <button ng-if="$root.userinfo.level==1" class="button button-balanced button-block button-round " ng-click='markOpen("https://item.taobao.com/item.htm?spm=a1z10.1-c.w5003-15051798836.4.09ib3R&id=536934052567&scene=taobao_shop","_system")' >购买图书</button>
            <button ng-if="$root.userinfo.level==2" class="button button-balanced button-block button-round " ng-click='markOpen("https://item.taobao.com/item.htm?spm=a1z10.1-c.w5003-15051798836.8.09ib3R&id=537131553083&scene=taobao_shop","_system")'>购买图书</button>
        </div>
        <p class="padding" ng-if="$root.userinfo.level==1">方式二： 去 (淘宝烤鱿鱼图书专营店) 购买英语四级APP验证码(二维码)，若已购买请直接扫描二维码！</p>
        <p class="padding" ng-if="$root.userinfo.level==2">方式二： 去 (淘宝烤鱿鱼图书专营店) 购买英语六级APP验证码(二维码)，若已购买请直接扫描二维码！</p>
        <div class="padding text-center" style="width:60%; margin:0 auto;">
            <button ng-if="$root.userinfo.level==1" class="button button-balanced button-block button-round " ng-click='markOpen("https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-15244885061.29.EKpV7y&id=540227686831","_system")'>购买二维码</button>
            <button ng-if="$root.userinfo.level==2" class="button button-balanced button-block button-round " ng-click='markOpen("https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-15244885061.31.EKpV7y&id=540234418654","_system")'>购买二维码</button>
        </div>
    </div>

</ion-content>
