<div class="modal">
    <a class="button button-clear icon-right ion-ios-close-outline btn-close" ng-click="modalMK.hide()" style="position:absolute; right:6px; top:6px; z-index:1000; color:#FFFFFF;"></a>


    <ion-content style="background-color:#03AE9E;">
        <ion-slide-box>
            <ion-slide>
                <img src="img/mk/m1.jpg" width="100%" />
            </ion-slide>
            <ion-slide>
                <img src="img/mk/m2.jpg" width="100%" />
            </ion-slide>
            <ion-slide>
                <img src="img/mk/m3.jpg" width="100%" />
            </ion-slide>
            <ion-slide>
                <img src="img/mk/m4.jpg" width="100%" />
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</div>
