<div class="bar bar-header bar-calm bar-green">
    <a class="button button-clear icon-left ion-ios-arrow-left" href="#/me_info"> &nbsp;</a>
    <h1 class="title">选择学校</h1>
</div>


<ion-content class="has-header">
    <div class="list">
        <div class="item item-divider text-center">学校首字母</div>
        <p class="text-center gray padding-top">如：清华大学 首字母：Q；北京大学：首字母：B</p>
    </div>

    <div class="padding dc-letter-list">
        <a ng-click="getSchool('A')">A</a>
        <a ng-click="getSchool('B')">B</a>
        <a ng-click="getSchool('C')">C</a>
        <a ng-click="getSchool('D')">D</a>
        <a ng-click="getSchool('E')">E</a>
        <a ng-click="getSchool('F')">F</a>
        <a ng-click="getSchool('G')">G</a>
        <a ng-click="getSchool('H')">H</a>
        <a ng-click="getSchool('I')">I</a>
        <a ng-click="getSchool('J')">J</a>
        <a ng-click="getSchool('K')">K</a>
        <a ng-click="getSchool('L')">L</a>
        <a ng-click="getSchool('M')">M</a>
        <a ng-click="getSchool('N')">N</a>
        <a ng-click="getSchool('O')">O</a>
        <a ng-click="getSchool('P')">P</a>
        <a ng-click="getSchool('Q')">Q</a>
        <a ng-click="getSchool('R')">R</a>
        <a ng-click="getSchool('S')">S</a>
        <a ng-click="getSchool('T')">T</a>
        <a ng-click="getSchool('U')">U</a>
        <a ng-click="getSchool('V')">V</a>
        <a ng-click="getSchool('W')">W</a>
        <a ng-click="getSchool('X')">X</a>
        <a ng-click="getSchool('Y')">Y</a>
        <a ng-click="getSchool('Z')">Z</a>
    </div>

</ion-content>
