<ion-tabs class="tabs-icon-top">
    <ion-tab title="提分" icon="dc-tab-tf" href="#/tab/tf_home">
        <ion-nav-view name="tab-tf"></ion-nav-view>
    </ion-tab>

   <ion-tab title="模考" icon="dc-tab-mk" href="#/tab/mk_home">
        <ion-nav-view name="tab-mk"></ion-nav-view>
    </ion-tab>

    <ion-tab title="微课" icon="dc-tab-wk" href="#/tab/wk_home">
        <ion-nav-view name="tab-wk"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="订阅" icon="dc-tab-dy" href="#/tab/dy_home">
        <ion-nav-view name="tab-dy"></ion-nav-view>
    </ion-tab>-->

    <ion-tab title="我的" icon="dc-tab-me" href="#/tab/me_home">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>
</ion-tabs>