<div class="bar bar-header bar-calm bar-green" ng-if="!$root.FY.sutmitted">
    <a class="button button-clear icon-left ion-ios-arrow-left" href="#/tab/tf_home"> 翻译</a>
    &nbsp;
    <a ng-class="{'button button-clear icon-left':true,'ion-android-star-outline':!fy.isFav,'ion-android-star':fy.isFav}" ng-click="fav(fy.isFav)">&nbsp;</a>
    <h1 class="title title-normal"><span class="button button-clear icon-right ion-ios-star-outline" style="display:none;"></span><span>{{id+1}}/{{$root.FY.result[0].length}}</span> <span>{{ timediff | date:'mm:ss'}}</span></h1>
    <button class="button button-clear" ng-click="submit();">提交</button>
</div>

<div class="bar bar-header bar-calm bar-green" ng-if="$root.FY.sutmitted">
    <a class="button button-clear icon-left ion-ios-arrow-left" href="#/tf_submit/translation"> 返回</a>
    <h1 class="title">试题解析</h1>
    <button class="button button-clear">{{id+1}}/{{$root.FY.result[0].length}}</button>
</div>

<ion-content class="has-header background-gray" on-swipe-left="pageLeft()" on-swipe-right="pageRight()">
    <div class="padding background-white">
        <h4 style="border-bottom: 2px solid #0FC0A1; padding-bottom: 10px;">考核点：{{fy.item_subtype_name}}</h4>
        <div class="gray" style="font-size:14px;">{{id+1}}. {{fy.direction}}</div>
        <h4>{{fy.stem_text}}</h4>

        <table style="width:100%" class="dc-table">
            <tr class="t" ng-click="chooseAnswer(i.k);" ng-repeat="i in fy.option_arr">
                <td width="30"><span ng-class="{'answered':fy.myanswer==i.k&&!$root.FY.sutmitted,'submitted':$root.FY.sutmitted,'correct':$root.FY.sutmitted&&fy.keys==i.k,'error':$root.FY.sutmitted&&fy.myanswer==i.k&&fy.myanswer!=fy.keys}">{{i.k}}</span></td>
                <td>{{i.v}}</td>
            </tr>
        </table>

        <div ng-if="$root.FY.sutmitted">
            <div class="row">
                <div class="col">正确答案：<span class="green">{{fy.keys}}</span></div>
                <div class="col">您的答案：<span class="assertive">{{fy.myanswer}}</span></div>
            </div>
            <h4>解析:</h4>
            <div ng-bind-html="to_trusted(fy.feedback)"></div>

        </div>
    </div>
</ion-content>
