<div class="bar bar-header bar-calm bar-green">
    <h1 class="title">支付失败操作界面</h1>
</div>

<ion-content class="has-header background-gray">
    <div class="padding"></div>


    <div class="row">
        <div class="col">
            <labe class="item item-input">
                <input type="tel" placeholder="请输入您的手机号" ng-model="userinfo.mobile" />
            </labe>
        </div>
    </div>



    <div class="padding">
        <button class="button button-balanced button-block" ng-click="login();">确定</button>
    </div>

</ion-content>