.select-word {
    color: #69be41;
    padding: 0 !important;
    /*font-weight:bold;*/
}

#tip {
    position: absolute;
    display: none;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    /*font-size: 1.4rem;*/
    font-size: 14px;
}

.tipBox {
	color: white;
    width: 260px;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    background-color: #666666;
}
#tip .content {
}
#tip .title .word {
    font-size: 18px;
}
#tip .title {
    background-color: transparent !important;
    height: auto !important;
    line-height: 20px;
}

#tip .title .close {
    font-size: 20px;
    font-weight: bold;
    color: #69be41;
    float: right;
    top: -25px;
    position: relative;
    text-decoration: none;
}

a.more, a.addmyword, a.login, a.more:visited, a.addmyword:visited, a.login:visited {
    color: #69be41;
    text-decoration: none;
    cursor: pointer;
}

.login {
    margin: 0px 5px;
}

a.signup, a.signup:visited {
    color: red;
    margin-left: 5px;
    cursor: pointer;
}

#addmywordarea {
    margin-left: 20px;
    float: right;
}

#tip .morearea img {
    vertical-align: middle;
    margin-right: 5px;
}

.tipWord {
    text-align: right;
    font-size: 14px;
    line-height: 200%;
}

.tipWord a:link, .tipWord a:visited {
    color: #69be41;
}

.hc_vote {
    height: 24px;
    line-height: 24px;
    background-color: #F2F2F2;
    color: #AEAEAE;
    text-align: right;
    margin: 5px -8px -8px -8px;
    padding-right: 10px;
    font-size: 14px;
}
.hc_AdInfo {
    border-top: 1px dotted #69be41;
    margin: 11px -7px 0 -7px;
    background-color: #f5fbf2;
    line-height: 25px;
}
.hc_AdInfo a:link, .hc_vote a:visited {
    text-decoration: none;
    padding: 5px 0 5px 7px;
    display: inline-block;
}

.select-word {
    display: inline-block !important;
}

.voice_track {
    display: inline-block !important;
    vertical-align: text-bottom;
}

.voice-icon{
    display: inline-block;
    cursor: pointer;
    background: url(../img/voice-icon.png?t=0326) no-repeat;
    background-size: 24px 125px;
}

.voice-style1{
    width: 24px !important;
    height: 24px;
    margin-right: 5px;
    margin-bottom: -2px;
    margin-top: 3px;
    border: 0 !important;
}